.card{
  border: 1px solid blue;
  border-radius: 10px;
  display: inline-block;
  background-color:green;
  margin: 10px;
  padding: 6px;
  font-family: cursive;
  font-weight: 900;
  box-shadow:7px -8px 18px 9px rgb(77 158 69 /49% )
}
.card:hover {
  box-shadow: 0 8px 16px rgb(0,0,0,0.2);
}
img
{
  border-radius: 5px 5px 0 0 ;

}
.container{
  padding: 2px 16px;
}