/* /* * {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.bgForm {
  /* background: url('./Lighthouse.jpg') no-repeat; */
/* background-size: cover;
}  */

div .login-form {
  width: 500px;
  top: 40%; HE
  left: 70%;
  /* background-color: #c1a2d3; */
  background-color: #ffb07e;
  /* margin: auto; */
  /* transform: translate(-50%, -50%); */
  /* position: absolute; */
  text-align: center;
  padding: 80px;
  margin: auto;
  margin-block: 50px;
  border-radius: 10px;
}

.login-form h1 {
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 60;
}

.login-form p {
  font-size: 40px;
  margin: 8% 0;
}

.login-form input #a {
  font-size: 40px;
  width: 60%;
  padding: 15px 10px;
  border: 10;
  outline: none;
  border-radius: 5px;
}

.login-form button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 60%;
  border-radius: 5px;
  border: 0;
}
input[type='task'] {
  width: 350px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

input[type='password'] {
  width: 350px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid black;
}
.star {
  font-size: 30px;
}
.again {
  font-size: 30px;
}
