* {
  margin: 0;
  padding: 0;
}
.style {
  display: inline-block;
  justify-self: center;
  padding-right: 30px;
  /* font-style: italic; */
  font-size: larger;
  text-transform: capitalize;
  /* text-decoration: none; */
  color: beige;
  padding: 20px;
}

.sub {
  width: 100%;
  height: 70px;
  background-color: #ff7f50;
}
a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
}

/* a.active {
  background-color: aqua;
} */
