form.signup {
  font-family: 'Se', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0;
}

/* * {
  box-sizing: border-box width-200px;
  height: 10px;
} */

.signup .formContainer {
  border: 1px solid #1e241e;
  height: 74vh;
  padding: 50px;
  /* margin: 90px; */
  width: 50%;
  background-color: #8e7a96;
  text-align: center;
  margin: 2px auto;
  /* margin-block: 50px; */
  border-radius: 10px;
  margin-top: 40px;
}

.signup input[type='text'] {
  width: 90%;
  font-size: 20px;
  padding: 20px;
  /* margin: 20px; */
  /* display: inline-block; */
  /* border: border; */
  /* background: coral; */
}
.signup input[type='password'] {
  width: 90%;
  font-size: 12px;
  padding: 20px;
  /* margin: 20px; */
  /* display: inline-block; */
  /* border: border; */
  /* background: coral; */
}
.signup label {
  font-size: 26px;
  text-align: center;
}

.signup input[type='text']:focus,
.signup input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

.signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.signup table {
  width: 200%;
}

.signup th {
  height: 70px;
}
.signup button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 60%;
  border-radius: 5px;
  border: 0;
}
.room {
  font-size: 30px;
  padding: 5px;
}
.b1 {
  font-size: 30px;
}
