form.Signup {
  font-family: 'Se', Tahoma, Geneva, Verdana, sans-serif;
}

/* * {
  box-sizing: border-box width-200px;
  height: 10px;
} */

.Signup .formContainer {
  border: 1px solid red;
  height: 90vh;
  padding: 50px;
  margin: 90px;
  width: 60%;
}

.Signup input[type='text'],
.Signup input[type='password'] {
  width: 100%;
  font-size: 20px;
  padding: 30px;
  margin: 20px;
  /* display: inline-block; */
  /* border: border; */
  background: lightgreen;
}

.Signup label {
  font-size: 20px;
}

.Signup input[type='text']:focus,
.Signup input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

.Signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.Signup table {
  width: 100%;
}

.Signup th {
  height: 70px;
}
